* {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;

}

.row {
    width:100%;

}

.column {
    background-color: orange;
    border: solid 2px darkblue;
    margin-bottom: 16px;
    padding: 12px;
    float:left;

    }

.one-half {
    width: 50%;
}

.one-third {
    width: 33.33%;
}

.one-fourth {
    width: 25%;
}

.one-eighth {
    width: 12.5%;
}
/*simple change*/