.banner {
    position: relative;

}

.sidebar-left{
    float:left;
    width: 400px;
    background-color: coral;
}

.sidebar-left a {
    text-decoration: none;
}

.main-body {
    float:left
}

.footer {
    position: fixed;
    bottom: 1em;
    left: 2em;
}
